@tailwind base;
@tailwind components;
@tailwind utilities; 

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* background color variable for light mode */
  --background-color: #d9dde0; /*d5dadf*/


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global Element Settings */

* { 
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  @apply transition-colors duration-200
}

/* icon color in light mode */

a { 
  font-weight: 500;
  color: #2f549f; /* 5882d7 */
  text-decoration: inherit;
}

/* icon hover effect in light mode*/

a:hover { 
  color: black;
}

/* Default h1 styling */

h1 {
  font-size: 3.2em;
  line-height: 1;
}

/* Default body styling */

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  /* changing background color of website when light mode is toggled*/
  background-color: var(--background-color);
}

 /* changing background color of website and scrollbar thumb color when dark mode is toggled*/
body.dark {
  background-color: #1a202c; /* 242425, 1a202c*/

}

/* smooth scroll behaviour */ 

html{
  scroll-behavior: smooth;
}

/* webkit scrollbar for styling - pseudoelement*/

html::-webkit-scrollbar {
  width: 7px; 
}

/* webkit scrollbar for styling - light mode thumb color */

html::-webkit-scrollbar-thumb {
  background-color: rgb(0,0,0,0.7);
  border-radius: 10px; /* rounded  */
}

/* webkit scrollbar for styling - light mode track color */

html::-webkit-scrollbar-track {
  background-color: transparent; 
}
